@charset "UTF-8";
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 620px;
  font-family: "Roboto, san-serif";
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.header-title {
  margin-bottom: 37px;
}

.header-divider {
  margin-bottom: 28px;
  width: 100%;
  border: 1px solid #bdbdbd;
}

.header-tab_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  margin-bottom: 28px;
}

.header-tab_menu li button {
  font-family: "Roboto, san-serif";
  font-weight: 500;
  color: #828282;
}

.header-tab_menu li button.active {
  font-weight: 900;
  color: #000;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 86px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 135px;
  padding: 41px 28px 31px 29px;
  max-width: 1060px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.movie-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 24px 23px;
  padding: 26px 27px 30px;
  width: 100%;
  font-family: "Noto sans KR, san-serif";
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  background-color: #fff;
}

.footer {
  width: 100%;
  height: 213px;
  background-color: #f2f2f2;
  font-family: "Roboto, san-serif";
}

.footer-inner {
  margin: 0 auto;
  padding-top: 53px;
  max-width: 1200px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
}

.footer-top .footer-logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.footer-top .sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top .sns-list .sns-type:nth-child(2) {
  margin-left: 25px;
  margin-right: 30px;
}

.footer-top .sns-list .icon-sns {
  width: 20px;
  height: 20px;
}

.footer-divider {
  margin-bottom: 36px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
}

.footer-bottom .company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.footer-bottom .company-info .info-type:not(:first-child)::before {
  content: "|";
  margin-right: 5px;
}

.footer-bottom .company-info .info-type strong {
  color: #4f4f4f;
}

.footer .copyright {
  font-weight: 700;
}

.movie {
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  overflow: hidden;
}

.movie .movie-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 19px 20px 0;
  margin-bottom: 18px;
}

.movie .movie-info .movie-title {
  margin-bottom: 12px;
  font-weight: 900;
  line-height: 23px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.movie .movie-info .movie-img {
  margin-bottom: 11px;
  width: 180px;
  height: 250px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.movie .movie-info .movie-dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 19px;
}

.movie .movie-info .movie-dl:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movie .movie-info .movie-dl div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie .movie-info .movie-dl .movie-dt {
  padding-right: 5px;
  color: #828282;
}

.movie .movie-info .movie-dl .movie-dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie .movie-info .movie-dl .icon-star {
  display: inline-block;
  margin: -3px 4px 0 0;
  width: 14px;
  height: 14px;
  background-image: url(../images/별점이미지.png);
  background-position: center;
  background-size: 14px;
  background-repeat: no-repeat;
}

.movie .movie-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  border-top: 1px solid #bdbdbd;
  background-color: #f2f2f2;
}

.movie .movie-btn a {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 12px 0;
}

.movie .movie-btn a:first-child {
  border-right: 1px solid #bdbdbd;
}

.movie .movie-btn .icon-play {
  display: inline-block;
  margin-right: -2px;
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  background-image: url(../images/아이콘_재생.png);
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
}

.movie .movie-btn .preview {
  vertical-align: top;
}
/*# sourceMappingURL=main.css.map */